Options FollowSymLinks
RewriteEngine On
RewriteBase /js/dojotoolkit/indexedStore/json/REST/

RewriteCond $1 !^index\.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]